html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

/*
pozadí #FAFAFA
- nadpisy černá : #000000
- odstavce šedá : #8B8B8B
- tlačítko a čára : modrá: #407BFF
- bílá: #FFFFFF
*/

h1,
h2,
p,
li {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
p {
    text-align: center;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;    
}

h2 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    font-weight: 300;
    color: #8B8B8B;
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 30px;
}

body {
    padding: 60px 20px;
    margin: 0;
}

.uvod img {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 70px;
}

hr {
    border: 1px solid #407BFF;
    width: 60px;
}

li {
    font-size: 14px;
    font-weight: 400;
    color: #8B8B8B;
}

ul {
    padding-left: 0;
}

.uvod li {
    list-style-type: none;
    padding: 10px 30px;
    border-radius: 15em;
    margin: 20px auto;
    text-align: center;
    width: fit-content;
  
}

.tlac1{
    background-color: #407BFF;
    color: white;
}

.tlac2 {
    background-color: #8B8B8B;
    color: black;
}

.sluzby li {
    list-style-type: none;
    margin-left: 30px;
}

.tlacitko {
    display: flex;
    border-radius: 1em;
    box-shadow: 2px 2px 5px lightsteelblue;
    margin: 20px;
    padding: 20px;
}

@media screen and (min-width:640px) {
    .kontejner1 {
        display: flex;
        justify-content: center;
        column-gap: 20px;
    }

    .uvod li {
        margin: 0;
    }

    .sluzby1,
    .sluzby2 {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin: 40px 0;
    }

    .tlacitko {
        flex-basis: calc((100%/3) - 20px);
        display: block;
        text-align: center;
        margin: 0;
    }

    .tlacitko li {
        margin: 20px 0 0 0;
    }
}


@media screen and (min-width:1100px) {
    
    .obsah {
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;
        column-gap: 60px;
    }
        
    .uvod {
        display: flex;
    }

    .uvod .text {
        order: 1;
    }

    .uvod .obrazek {
        order: 2;
        align-self: center;
    }    
    
    .uvod .text,
    .uvod .obrazek {
        max-width: 490px;
    }

    .uvod h1,
    .uvod p {
        text-align: left;
    }
  
    .kontejner1 {
        justify-content: left;
    }

    .uvod hr {
        margin-left: 0;
    }

    .sluzby {
        display: flex;
        column-gap: 60px;
    }

    .kancelare {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .sluzby1 {
        order: 1;
        max-width: 550px;
    }
    
    .kancelare .text {
        order: 2;
        max-width: 430px;
    }

    .text h2,
    .text p {
        text-align: left;
    }

    .sluzby2 {
        max-width: 550px;
    }
    
    .delegatu .text {
        max-width: 430px;
    }

}
